{%  set contactInformation = contact_info.getContactInformation %}

<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="widget">
                    <div id="text-3" class="widget widget_text">
                        <div class="textwidget"><h2>Homelist</h2>
                            <address>
                                {% if contactInformation and contactInformation.address %}
                                    {{ contactInformation.address }}
                                    <br />
                                {% endif %}
                                {% if contactInformation and contactInformation.phoneNumber1 %}
                                    <i class="fa fa-phone"></i>
                                    <span>Telp. :</span> {{ contactInformation.phoneNumber1 }}
                                    <br />
                                {% endif %}
                                {% if contactInformation and contactInformation.phonenumber1 %}
                                    <span style="margin-left: 61px">{{ contactInformation.phoneNumber1 }}</span>
                                    <br />
                                {% endif %}
                                {% if contactInformation and contactInformation.email %}
                                    <i class="fa fa-envelope"></i>
                                    <span>Email :</span> {{ contactInformation.email }}
                                {% endif %}
                            </address>
                        </div>
                    </div>
                    <div id="homelist_social_links-2" class="widget widget_homelist_social_links">
                        <ul class="social-links-icon">
                            {% if contactInformation and contactInformation.facebook %}
                            <li>
                                <a href="{{ contactInformation.facebook }}" title="Facebook">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            {% endif %}
                            {% if contactInformation and contactInformation.instagram %}
                            <li>
                                <a href="{{ contactInformation.instagram }}" title="Instagram">
                                    <i class="fa fa-instagram"></i>
                                </a>
                            </li>
                            {% endif %}
                            {% if contactInformation and contactInformation.linkedin %}
                            <li><a href="{{ contactInformation.linkedin }}" title="Linkedin">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="widget">
                    <div id="homelist_locations_widget-4" class="widget widget_homelist_locations_widget">
                        <div class="browse-location">
                            <h3>Locations</h3>
                            <ul>
                                <li>
                                    <a href="http://www.ongoingthemes.com/homelist/location/england/london/">London / England</a>
                                </li>
                                <li>
                                    <a href="http://www.ongoingthemes.com/homelist/location/france/paris/">Paris / France</a>
                                </li>
                                <li>
                                    <a href="http://www.ongoingthemes.com/homelist/location/italy/rome/">Rome / Italy</a>
                                </li>
                                <li>
                                    <a href="http://www.ongoingthemes.com/homelist/location/japan/tokyo/">Tokyo / Japan</a>
                                </li>
                                <li>
                                    <a href="http://www.ongoingthemes.com/homelist/location/united-arab/dubai/">Dubai / United Arab</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="widget">
                    <div id="categories-4" class="widget widget_categories">
                        <h3>Categories</h3>
                        <ul>
                            <li class="cat-item cat-item-3">
                                <a href="http://www.ongoingthemes.com/homelist/category/construction/" >Construction</a>
                            </li>
                            <li class="cat-item cat-item-7">
                                <a href="http://www.ongoingthemes.com/homelist/category/land-administration/" >Land Administration</a>
                            </li>
                            <li class="cat-item cat-item-1">
                                <a href="http://www.ongoingthemes.com/homelist/category/uncategorized/" >Uncategorized</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- Copyrights -->

        <div class="row">
            <div class="col-md-12 copyright">
                <a href="#top" class="btn btn-success scroltop">
                    <i class="fa fa-angle-up"></i>
                </a>
                <small><p class="col-lg-offset-5">© 2019 mydomain.com All Rights Reserved</p></small>
            </div>
        </div>
    </div>
</div>