{%  set contactInformation = contact_info.getContactInformation %}

<div id="footer">
    <div class="container">
        <div class="row" style="padding: 0 0 50px 0">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="widget">
                    <div id="text-3" class="widget widget_text">
                        <div class="textwidget"><h2>ALAVIDA</h2>
                        </div>
                    </div>
                    <div id="homelist_social_links-2" class="widget widget_homelist_social_links">
                        <ul class="social-links-icon">
                            {% if contactInformation and contactInformation.facebook %}
                            <li>
                                <a href="{{ contactInformation.facebook }}" title="Facebook">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            {% endif %}
                            {% if contactInformation and contactInformation.instagram %}
                            <li>
                                <a href="{{ contactInformation.instagram }}" title="Instagram">
                                    <i class="fa fa-instagram"></i>
                                </a>
                            </li>
                            {% endif %}
                            {% if contactInformation and contactInformation.linkedin %}
                            <li><a href="{{ contactInformation.linkedin }}" title="Linkedin">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <address>
                    <div class="widget"><h2 style="margin-bottom: 0">{% trans %}Contact us{% endtrans %}</h2></div>
                    {% if contactInformation and contactInformation.address %}
                        {{ contactInformation.address }}
                        <br />
                    {% endif %}
                    {% if contactInformation and contactInformation.phoneNumber1 %}
                        <i class="fa fa-phone"></i>
                        <span>Telp. :</span> {{ contactInformation.phoneNumber1 }}
                        <br />
                    {% endif %}
                    {% if contactInformation and contactInformation.phonenumber2 %}
                        <span style="margin-left: 61px">{{ contactInformation.phoneNumber2 }}</span>
                        <br />
                    {% endif %}
                    {% if contactInformation and contactInformation.phonenumber3 %}
                        <span style="margin-left: 61px">{{ contactInformation.phoneNumber3 }}</span>
                        <br />
                    {% endif %}
                    {% if contactInformation and contactInformation.email %}
                        <i class="fa fa-envelope"></i>
                        <span>Email :</span> {{ contactInformation.email }}
                    {% endif %}
                </address>
            </div>
        </div>

        <!-- Copyrights -->

        <div class="row" style="padding: 15px 0 0 0">
            <div class="col-md-12 copyright" style="padding: 20px 0 10px 0">
                <a href="#top" class="btn btn-success scroltop" style="top: 20px">
                    <i class="fa fa-angle-up"></i>
                </a>
                <small><p class="col-lg-offset-5">© 2020 alavida.live All Rights Reserved</p></small>
            </div>
        </div>
    </div>
</div>