{%  set contactInformation = contact_info.getContactInformation %}

<div class="topbar">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="topbar-nav topbar-left">
                    {% if contactInformation and contactInformation.email %}
                        <li class="disabled"><a href="#"><i class="fa fa-envelope"></i> {{ contactInformation.email }}</a></li>
                    {% endif %}
                    {% if contactInformation and contactInformation.phonenumber1 %}
                        <li class="disabled"><a href=""><i class="fa fa-phone"></i> {{ contactInformation.phonenumber1 }}</a></li>
                    {% endif %}
                    {% if contactInformation and contactInformation.phonenumber2 %}
                        <li class="disabled"><a href=""><i class="fa fa-phone"></i> {{ contactInformation.phonenumber2 }}</a></li>
                    {% endif %}
                </ul>
                <ul class="topbar-nav topbar-right hidden-xs">
                    {% if contactInformation and contactInformation.facebook %}
                        <li>
                            <a href="{{ contactInformation.facebook }}" title="Facebook"><i class="fa fa-facebook"></i></a>
                        </li>
                    {% endif %}
                    {% if contactInformation and contactInformation.instagram %}
                        <li>
                            <a href="{{ contactInformation.instagram }}" title="Instagram"><i class="fa fa-instagram"></i></a>
                        </li>
                    {% endif %}
                    {% if contactInformation and contactInformation.linkedin %}
                        <li>
                            <a href="{{ contactInformation.linkedin }}" title="Linkedin"><i class="fa fa-linkedin"></i></a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>
