{% extends 'base.html.twig' %}

{% block body %}
    <div  class="main">
        <div id="property_slider-2" class="widget widget_property_slider">
            <div class="property-slider">
                <div id="remp-carousel" class="carousel slide carousel-fade" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="item active">
                            <figure>
                                <img src="/images/static/slide2.jpg" alt="West Broadway Street" class="img-responsive"/>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="filter_rent_sale_widget-2" class="widget widget_filter_rent_sale_widget">
            <h2 class="widgettitle">{% trans %}Search{% endtrans %}</h2>
            <div class="main-search">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="main-search-form-inner">
                                <div class="tabs ">
                                    <ul id="myTab" class="nav nav-tabs nav-justified">
                                        <li class="sale">{% trans %}Sale{% endtrans %}</li>
                                    </ul>
                                    <div id="myTabContent" class="tab-content">
                                        <div class="tab-pane fade in rent-tab active" id="filter_rent_sale_widget-2-rent">
                                            <form method="GET" action="{{ path('get_search_result') }}">
                                                <div class="field col-md-3 col-sm-3 col-xs-12">
                                                    <div class="form-group">
                                                        <label for="rent_filter_rent_sale_widget-2_location">{% trans %}Location{% endtrans %}</label>
                                                        <select class="form-control" name="filter-location" id="rent_filter_rent_sale_widget-2_location">
                                                            <option value="">{% trans %}All locations{% endtrans %}</option>
                                                            {% set locations = search_info.getLocations %}
                                                            {% for location in  locations %}
                                                                <option value="{{ location.name }}">{{ location.name }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="field col-md-3 col-sm-3 col-xs-12">
                                                    <div class="form-group">
                                                        <label for="rent_filter_rent_sale_widget-2_property_type">{% trans %}Type{% endtrans %}</label>
                                                        <select class="form-control" name="filter-property-type" id="rent_filter_rent_sale_widget-2_property_type">
                                                            <option value="">{% trans %}All property types{% endtrans %}</option>
                                                            {% set categories = search_info.getCategories %}
                                                            {% for category in categories %}
                                                                <option value="{{ category.name }}">{{ category.name }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="field col-md-3 col-sm-3 col-xs-6">
                                                    <div class="form-group">
                                                        <label for="rent_filter_rent_sale_widget-2_price_from">{% trans %}Price from{% endtrans %}</label>
                                                        <input type="number" min="0" name="filter-price-from"
                                                               class="form-control" value=""
                                                               id="rent_filter_rent_sale_widget-2_price_from"
                                                               placeholder="$ - Price in US Dollar">
                                                    </div>
                                                </div>
                                                <div class="field col-md-3 col-sm-3 col-xs-6">
                                                    <div class="form-group">
                                                        <label for="rent_filter_rent_sale_widget-2_price_to">{% trans %}Price to{% endtrans %}</label>
                                                        <input type="number" min="0" name="filter-price-to"
                                                               class="form-control" value=""
                                                               id="rent_filter_rent_sale_widget-2_price_to"
                                                               placeholder="$ - Price in US Dollar">
                                                    </div>
                                                </div>
                                                <div class="col-md-3" style="float: right">
                                                    <div class="form-group">
                                                        <label>&nbsp;</label>
                                                        <button class="btn btn-success btn-block">{% trans %}Search{% endtrans %}</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- content begins -->

        <div id="homelist_locations_widget-3" class="widget widget_homelist_locations_widget">
            <div id="property-location">
                <div class="container">
                    <div class="row">
                        <div class="browse-location">
                            <h2 class="widgettitle">{% trans %}Real Estate Locations{% endtrans %}
                                <small>{% trans %}Find a house for sale on a location basis.{% endtrans %}</small>
                            </h2>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="top-location">
                                    <img src="/images/static/Caribbean.jpg" alt="Caribbean Isles">
                                    <div class="top-location-inner">
                                        <h3>
                                            <a href="{{ path('get_search_result', {'filter-location':'Caribbean Isles'}) }}">{% trans %}The Caribbean{% endtrans %}</a>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="top-location">
                                    <img src="/images/static/Panama.jpg" alt="Panama">
                                    <div class="top-location-inner">
                                        <h3>
                                            <a href="{{ path('get_search_result', {'filter-location':'Panama'}) }}">{% trans %}Panama{% endtrans %}</a>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="top-location">
                                    <img src="/images/static/Corsica.jpeg" alt="Corsica">
                                    <div class="top-location-inner">
                                        <h3>
                                            <a href="{{ path('get_search_result', {'filter-location':'Corsica'}) }}">{% trans %}Corsica{% endtrans %}</a>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="top-location" >
                                    <img src="/images/static/spain.jpeg" alt="Spain">
                                    <div class="top-location-inner">
                                        <h3>
                                            <a href="{{ path('get_search_result', {'filter-location':'Spain'}) }}">{% trans %}Spain{% endtrans %}</a>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="top-location">
                                    <img src="/images/static/Russia.jpg" alt="Russian Federation">
                                    <div class="top-location-inner">
                                        <h3>
                                            <a href="{{ path('get_search_result', {'filter-location':'Russian Federation'}) }}">{% trans %}Russian Federation{% endtrans %}</a>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="top-location">
                                    <img src="/images/static/Belarus.jpeg" alt="Republic of Belarus">
                                    <div class="top-location-inner">
                                        <h3>
                                            <a href="{{ path('get_search_result', {'filter-location':'Republic of Belarus'}) }}">{% trans %}Republic of Belarus{% endtrans %}</a>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Second content block -->

        <div id="properties_widget-4" class="widget widget_properties_widget">
            <div class="properties_content">
                <div class="container">
                    <h2 class="widgettitle">{% trans %}Islands and Soils{% endtrans %}
                    </h2>
                    <div class="type-box item-per-row-3">
                        <div class="row">
                            {% for postIsles in postsIsles %}
                                <div class="col-md-4 col-sm-6 col-xs-12">
                                    <div class="property-container">
                                        <div class="property-image" style="width: 360px; height: 202px">
                                            <img width="640" height="425" src="/images/{{ postIsles.imageAvatar.filename }}" class="property-box-thumbnail wp-post-image" alt="" />
                                            <a href="{{ path('get_post_details', {id: postIsles.id}) }}" class="property-box-image-inner "></a>
                                        </div>
                                        <div class="property-content">
                                            <h3>
                                                <a href="{{ path('get_post_details', {id: postIsles.id}) }}">
                                                    {% if app.request.locale == 'ru'%}
                                                        {{ postIsles.titleRu }}
                                                    {% elseif app.request.locale == 'pl' %}
                                                        {{ postIsles.titlePl }}
                                                    {% elseif app.request.locale == 'fr' %}
                                                        {{ postIsles.titlePl }}
                                                    {% else %}
                                                        {{ postIsles.titleEn }}
                                                    {% endif %}
                                                </a>
                                                <small><i class="fa fa-map-marker"></i> {{ postIsles.location }}</small>
                                            </h3>
                                            <p class="text-cut">
                                                {% if app.request.locale == 'ru'%}
                                                    {{ postIsles.propertyDescriptionRu }}
                                                {% elseif app.request.locale == 'pl' %}
                                                    {{ postIsles.propertyDescriptionPl }}
                                                {% elseif app.request.locale == 'fr' %}
                                                    {{ postIsles.propertyDescriptionFr }}
                                                {% else %}
                                                    {{ postIsles.propertyDescriptionEn }}
                                                {% endif %}
                                            </p>
                                        </div>
                                        <div class="property-attributes">
                                            <div class="col-xs-4" style="width: 200px; padding-left: 25px; float: left">
                                                <h4>
                                                    {% if postIsles.price is not empty %}
                                                        <p title="Price"><i class="fa fa-cc-visa"></i> {{ postIsles.price }} $</p>
                                                    {% endif %}
                                                </h4>
                                            </div>
                                        </div>
                                        <div class="property-buttons">
                                            <a href="{{ path('get_post_details', {id: postIsles.id}) }}" class="property-btn">{% trans %}Browse{% endtrans %}</a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            <!-- Third block content -->

            <div id="properties_widget-3" class="widget widget_properties_widget">
                <div class="properties_content">
                    <div class="container">
                        <h2 class="widgettitle">{% trans %}Houses and Apartments{% endtrans %}
                        </h2>
                        <div class="type-box item-per-row-4">
                            <div class="row">
                                {% for postHouse in postsHouse %}
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <div class="property-container">
                                            <div class="property-image" style="width: 263px; height: 175px">
                                                <div class="slick-slider slider">
                                                    <div>
                                                        <img width="640" height="425" src="/images/{{ postHouse.imageAvatar.filename }}" class="property-box-thumbnail wp-post-image" alt="" />
                                                    </div>
                                                </div>
                                                <a href="{{ path('get_post_details', {id: postHouse.id}) }}" class="property-box-image-inner "></a>
                                            </div>
                                            <div class="property-content">
                                                <h3>
                                                    <a href="{{ path('get_post_details', {id: postHouse.id}) }}">
                                                        {% if app.request.locale == 'ru'%}
                                                            {{ postHouse.titleRu }}
                                                        {% elseif app.request.locale == 'pl' %}
                                                            {{ postHouse.titlePl }}
                                                        {% elseif app.request.locale == 'fr' %}
                                                            {{ postHouse.titlePl }}
                                                        {% else %}
                                                            {{ postHouse.titleEn }}
                                                        {% endif %}
                                                    </a>
                                                    <small><i class="fa fa-map-marker"></i> {{ postHouse.location }}</small>
                                                </h3>
                                                <p class="text-cut">
                                                    {% if app.request.locale == 'ru'%}
                                                        {{ postHouse.propertyDescriptionRu }}
                                                    {% elseif app.request.locale == 'pl' %}
                                                        {{ postHouse.propertyDescriptionPl }}
                                                    {% elseif app.request.locale == 'fr' %}
                                                        {{ postHouse.propertyDescriptionFr }}
                                                    {% else %}
                                                        {{ postHouse.propertyDescriptionEn }}
                                                    {% endif %}
                                                </p>
                                            </div>
                                            <div class="property-attributes">
                                                <div class="col-xs-4" style="width: 200px; padding-left: 25px; float: left">
                                                    <h4>
                                                        {% if postHouse.price is not empty %}
                                                            <p title="Price"><i class="fa fa-cc-visa"></i> {{ postHouse.price }} $</p>
                                                        {% endif %}
                                                    </h4>
                                                </div>
                                            </div>
                                            <div class="property-buttons">
                                                <a href="{{ path('get_post_details', {id: postHouse.id}) }}" class="property-btn">{% trans %}Browse{% endtrans %}</a>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Fourth content block -->

        <div id="properties_widget-4" class="widget widget_properties_widget">
            <div class="properties_content">
                <div class="container">
                    <h2 class="widgettitle">{% trans %}Investments{% endtrans %}</h2>
                    <div class="type-box item-per-row-3">
                        <div class="row">
                            {% for postInvestment in postsInvestment %}
                                <div class="col-md-4 col-sm-6 col-xs-12">
                                    <div class="property-container">
                                        <div class="property-image" style="width: 360px; height: 202px">
                                            <img width="640" height="425" src="/images/{{ postInvestment.imageAvatar.filename }}" class="property-box-thumbnail wp-post-image" alt="" />
                                            <a href="{{ path('get_post_details', {id: postInvestment.id}) }}" class="property-box-image-inner "></a>
                                        </div>
                                        <div class="property-content">
                                            <h3>
                                                <a href="{{ path('get_post_details', {id: postInvestment.id}) }}">
                                                    {% if app.request.locale == 'ru'%}
                                                        {{ postInvestment.titleRu }}
                                                    {% elseif app.request.locale == 'pl' %}
                                                        {{ postInvestment.titlePl }}
                                                    {% elseif app.request.locale == 'fr' %}
                                                        {{ postInvestment.titlePl }}
                                                    {% else %}
                                                        {{ postInvestment.titleEn }}
                                                    {% endif %}
                                                </a>
                                                <small><i class="fa fa-map-marker"></i> {{ postInvestment.location }}</small>
                                            </h3>
                                            <p class="text-cut">
                                                {% if app.request.locale == 'ru'%}
                                                    {{ postInvestment.propertyDescriptionRu }}
                                                {% elseif app.request.locale == 'pl' %}
                                                    {{ postInvestment.propertyDescriptionPl }}
                                                {% elseif app.request.locale == 'fr' %}
                                                    {{ postInvestment.propertyDescriptionFr }}
                                                {% else %}
                                                    {{ postInvestment.propertyDescriptionEn }}
                                                {% endif %}
                                            </p>
                                        </div>
                                        <div class="property-attributes">
                                            <div class="col-xs-4" style="width: 200px; padding-left: 25px; float: left">
                                                <h4>
                                                    {% if postInvestment.price is not empty %}
                                                        <p title="Price"><i class="fa fa-cc-visa"></i> {{ postInvestment.price }} $</p>
                                                    {% endif %}
                                                </h4>
                                            </div>
                                        </div>
                                        <div class="property-buttons">
                                            <a href="{{ path('get_post_details', {id: postInvestment.id}) }}" class="property-btn">{% trans %}Browse{% endtrans %}</a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Customer reviews -->

    <div id="homelist_testimonials_widget-2" class="widget widget_homelist_testimonials_widget">
        <div id="testimonials" class="container-fluid">
            <div class="container">
                <div class="row">
                    <h2 class="widgettitle">{% trans %}What Our Customers Say{% endtrans %}
                        <small>{% trans %}The following quotes are typical for the customer appreciation ALAVIDA receives{% endtrans %}</small>
                    </h2>
                    {% for customer in customers %}
                        <div class="col-sm-6 col-md-4">
                            <div class="testimonial-box">
                                <div class="testimonial-image"><img width="300" height="300" src="/images/{{ customer.customerAvatar.filename }}" class="attachment-full size-full wp-post-image" alt="" /></div>
                                <div class="testimonial-title">
                                    {% if app.request.locale == 'ru'%}
                                        {{ customer.customerShortReviewRu }}
                                    {% elseif app.request.locale == 'pl' %}
                                        {{ customer.customerShortReviewPl }}
                                    {% elseif app.request.locale == 'fr' %}
                                        {{ customer.customerShortReviewFr }}
                                    {% else %}
                                        {{ customer.customerShortReviewEn }}
                                    {% endif %}
                                </div>
                                <div class="testimonial-details">
                                    {% if app.request.locale == 'ru'%}
                                        {{ customer.customerMainReviewRu }}
                                    {% elseif app.request.locale == 'pl' %}
                                        {{ customer.customerMainReviewPl }}
                                    {% elseif app.request.locale == 'fr' %}
                                        {{ customer.customerMainReviewFr }}
                                    {% else %}
                                        {{ customer.customerMainReviewEn }}
                                    {% endif %}
                                </div>
                                <div class="testimonial-info"><span class="name">{{ customer.customerName }}</span>  &nbsp;&nbsp;<ul class="rating-stars"><li><i class="fa fa-star"></i></li> <li><i class="fa fa-star"></i></li> <li><i class="fa fa-star"></i></li> <li><i class="fa fa-star"></i></li> <li><i class="fa fa-star"></i></li></ul></div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <!-- StaffAdmin info -->

    <div id="agents_widget-2" class="widget widget_agents_widget">
        <div class="agents_content">
            <div class="container">
                <h2 class="widgettitle">{% trans %}Our Representatives{% endtrans %}
                    <small>{% trans %}Our team is ready to help you reach your real estate goal{% endtrans %}</small>
                </h2>
                <div class="type-box">
                    <div class="row">
                        {% for staff in staffs %}
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="agent-container">
                                    <div class="agent-content-list">
                                        <div class="agent-image-list">
                                            <img width="300" height="300" src="/images/{{ staff.staffAvatar.filename }}" class="attachment-large size-large wp-post-image" alt="" />
                                        </div>
                                        <div class="agent-text">
                                            <h3>
                                                <a href="#">
                                                    {% if app.request.locale == 'ru'%}
                                                        {{ staff.staffNameRu }}
                                                    {% elseif app.request.locale == 'pl' %}
                                                        {{ staff.staffNamePl }}
                                                    {% elseif app.request.locale == 'fr' %}
                                                        {{ staff.staffNameFr }}
                                                    {% else %}
                                                        {{ staff.staffNameEn }}
                                                    {% endif %}
                                                </a>
                                                <small>
                                                    {% if app.request.locale == 'ru'%}
                                                        {{ staff.staffPositionRu }}
                                                    {% elseif app.request.locale == 'pl' %}
                                                        {{ staff.staffPositionPl }}
                                                    {% elseif app.request.locale == 'fr' %}
                                                        {{ staff.staffPositionFr }}
                                                    {% else %}
                                                        {{ staff.staffPositionEn }}
                                                    {% endif %}
                                                </small>
                                            </h3>
                                            <div class="agent-email">
                                                <a href="mailto:{{ staff.staffEmail }}">{{ staff.staffEmail}}</a>
                                            </div>
                                            <div class="agent-phone">
                                                {{ staff.staffPhone }}
                                            </div>
                                            <div class="agent-social-networks">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
