{% extends 'base.html.twig' %}

{% block body %}
    <div class="header" style="padding-top: 35px">
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-top">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('get_index') }}">
                        <img src="/images/static/logo_220_60.png" height="80" alt="Home">
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="navbar-top">
                    <div id="navbar-top-2" class="menu-primary-container">
                        <ul id="primary-menu" class="nav navbar-nav navbar-right">
                            <li id="menu-item-800" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-800">
                                <a title="Home" href="{{ path('get_index') }}">{% trans %}Home{% endtrans %} </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </div>

    <!-- HEADER -->

    <div id="header" class="heading back-img2">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 col-sm-12">
                    <div class="page-title">
                        <h2 style="margin-top: 40px">{% if app.request.locale == 'ru'%}
                                {{ post.titleRu }}
                            {% elseif app.request.locale == 'pl' %}
                                {{ post.titlePl }}
                            {% elseif app.request.locale == 'fr' %}
                                {{ post.titleFr }}
                            {% else %}
                                {{ post.titleEn }}
                            {% endif %}
                        </h2>
                        <ol class="breadcrumb">
                            <li>
                                <a href="{{ path('get_index') }}">{% trans %}Home{% endtrans %}</a>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- MAIN CONTENT -->

    <div  id="content"  class="main">
        <div class="container ">
            <div class="row">
                <div class="content col-sm-8 col-md-9">
                    <article id="post-525" class="post-525 property type-property status-publish has-post-thumbnail hentry amenities-balcony statuses-available locations-england locations-london materials-brick property_types-apartment">
                        <div class="property-detail-actions">
                        </div>
                        <div class="property-title similar-properties">
                            <h2>{% if app.request.locale == 'ru'%}
                                    {{ post.titleRu }}
                                {% elseif app.request.locale == 'pl' %}
                                    {{ post.titlePl }}
                                {% elseif app.request.locale == 'fr' %}
                                    {{ post.titleFr }}
                                {% else %}
                                    {{ post.titleEn }}
                                {% endif %}</h2>
                        </div>
                        <div class="property-pricing">
                            <div>{{ post.price }} $</div>
                        </div>
                        <ul class="property-main-features">
                            <li class="main-detail-_location">
                                <i class="fa fa-map-marker"></i>
                                <span>{{ post.location }}</span>
                            </li>
                            <li class="main-detail-_area">
                                <i class="fa fa-retweet"></i>
                                <span>{{ post.square }} m2</span>
                            </li>
                            <li class="main-detail-_price">
                                <i class="fa fa-cc-visa"></i>
                                <span>{{ post.price }} $</span>
                            </li>
                        </ul>
                        <div class="property-gallery">
                            <div id="slider-property" class="carousel slide" data-ride="carousel">
                                <ol class="carousel-indicators">
                                    {% for postImage in post.postImages %}
                                        <li data-target="#slider-property" data-slide-to="{{ loop.index0 }}">
                                            <img src="/images/{{ postImage.filename }}" alt="">
                                        </li>
                                    {% endfor %}
                                </ol>
                                <div class="carousel-inner">
                                    {% for postImage in post.postImages %}
                                        <div class="item {% if loop.index0 == 0 %} active {% endif %}">
                                            <img src="/images/{{ postImage.filename }}" alt="">
                                        </div>
                                    {% endfor %}
                                </div>
                                <a class="left carousel-control" href="#slider-property" data-slide="prev">
                                    <span class="fa fa-chevron-left"></span>
                                </a>
                                <a class="right carousel-control" href="#slider-property" data-slide="next">
                                    <span class="fa fa-chevron-right"></span>
                                </a>
                            </div>
                        </div>

                        <div class="similar-properties">
                            <h2>{% trans %}Property Overview{% endtrans %}</h2>
                            <div class="property-overview">
                                <ul>
                                    <li>
                                        <span>{% trans %}Location{% endtrans %}</span>
                                        <strong class="emphasize">{{ post.location }}</strong>
                                    </li>
                                    <li>
                                        <span>{% trans %}Price{% endtrans %}</span>
                                        <strong class="emphasize">{{ post.price }} $</strong>
                                    </li>
                                    <li>
                                        <span>{% trans %}Status{% endtrans %}</span>
                                        <strong>
                                            {% if app.request.locale == 'ru'%}
                                                {{ post.statusRu }}
                                            {% elseif app.request.locale == 'pl' %}
                                                {{ post.statusPl }}
                                            {% elseif app.request.locale == 'fr' %}
                                                {{ post.statusFr }}
                                            {% else %}
                                                {{ post.statusEn }}
                                            {% endif %}
                                        </strong>
                                    </li>
                                    <li>
                                        <span>{% trans %}Square{% endtrans %}</span>
                                        <strong>{{ post.square}} m2</strong>
                                    </li>
                                    <li>
                                        <span>{% trans %}Type{% endtrans %}</span>
                                        <strong>
                                            {% if app.request.locale == 'ru'%}
                                                {{ post.propertyTypeRu }}
                                            {% elseif app.request.locale == 'pl' %}
                                                {{ post.propertyTypePl }}
                                            {% elseif app.request.locale == 'fr' %}
                                                {{ post.propertyTypeFr }}
                                            {% else %}
                                                {{ post.propertyTypeEn }}
                                            {% endif %}
                                        </strong>
                                    </li>
                                    <li>
                                        <span>{% trans %}Name{% endtrans %}</span>
                                        <strong>
                                            {% if app.request.locale == 'ru'%}
                                                {{ post.propertyNameRu }}
                                            {% elseif app.request.locale == 'pl' %}
                                                {{ post.propertyNamePl }}
                                            {% elseif app.request.locale == 'fr' %}
                                                {{ post.propertyNameFr }}
                                            {% else %}
                                                {{ post.propertyNameEn }}
                                            {% endif %}
                                        </strong>
                                    </li>
                                    <li>
                                        <span>{% trans %}Contract{% endtrans %}</span>
                                        <strong>{% if app.request.locale == 'ru'%}
                                                {{ post.contractRu }}
                                            {% elseif app.request.locale == 'pl' %}
                                                {{ post.contractPl }}
                                            {% elseif app.request.locale == 'fr' %}
                                                {{ post.contractFr }}
                                            {% else %}
                                                {{ post.contractEn }}
                                            {% endif %}</strong>
                                    </li>
                                    <li>
                                        <span>{% trans %}Contact person{% endtrans %}</span>
                                        <strong>
                                            {% if app.request.locale == 'ru'%}
                                                {{ post.contactPersonRu }}
                                            {% elseif app.request.locale == 'pl' %}
                                                {{ post.contactPersonPl }}
                                            {% elseif app.request.locale == 'fr' %}
                                                {{ post.contactPersonFr }}
                                            {% else %}
                                                {{ post.contactPersonEn }}
                                            {% endif %}
                                        </strong>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="similar-properties">
                            <div class="property-description">
                                <h2>{% trans %}Property Description{% endtrans %}</h2>
                                {% if app.request.locale == 'ru'%}
                                    {{ post.propertyDescriptionRu }}
                                {% elseif app.request.locale == 'pl' %}
                                    {{ post.propertyDescriptionPl }}
                                {% elseif app.request.locale == 'fr' %}
                                    {{ post.propertyDescriptionFr }}
                                {% else %}
                                    {{ post.propertyDescriptionEn }}
                                {% endif %}
                            </div>
                        </div>

                        <div class="similar-properties">
                            <div class="property-video">
                                <h2>{% trans %}Video{% endtrans %}</h2>
                                <div class="video-embed-wrapper">
                                    <p>
                                        <iframe width="1280" height="720" src="https://www.youtube.com/embed/wNLr7WsyW9U" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <!-- PUBLIC FACILITIES -->

                        <div class="similar-properties">
                            <div class="property-public-facilities">
                                <h2>{% trans %}Public facilities{% endtrans %}</h2>
                                {% if post.publicFacilitiesDistance1 is defined and post.publicFacilitiesDistance1 is not empty %}
                                    <div class="property-public-facility-wrapper">
                                        <div class="property-public-facility">
                                            <div class="property-public-facility-title">
                                                <span>
                                                    {% if app.request.locale == 'ru'%}
                                                        {{ post.publicFacilitiesDescription1Ru }}
                                                    {% elseif app.request.locale == 'pl' %}
                                                        {{ post.publicFacilitiesDescription1Pl }}
                                                    {% elseif app.request.locale == 'fr' %}
                                                        {{ post.publicFacilitiesDescription1Fr }}
                                                    {% else %}
                                                        {{ post.publicFacilitiesDescription1En }}
                                                    {% endif %}
                                                </span>
                                            </div>
                                            <div class="property-public-facility-info">
                                                {{ post.publicFacilitiesDistance1 }}
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                                {% if post.publicFacilitiesDistance2 is defined and post.publicFacilitiesDistance2 is not empty %}
                                    <div class="property-public-facility-wrapper">
                                        <div class="property-public-facility">
                                            <div class="property-public-facility-title">
                                                <span>{% if app.request.locale == 'ru'%}
                                                        {{ post.publicFacilitiesDescription2Ru }}
                                                    {% elseif app.request.locale == 'pl' %}
                                                        {{ post.publicFacilitiesDescription2Pl }}
                                                    {% elseif app.request.locale == 'fr' %}
                                                        {{ post.publicFacilitiesDescription2Fr }}
                                                    {% else %}
                                                        {{ post.publicFacilitiesDescription2En }}
                                                    {% endif %}</span>
                                            </div>
                                            <div class="property-public-facility-info">
                                                {{ post.publicFacilitiesDistance2 }}
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                                {% if post.publicFacilitiesDistance3 is defined and post.publicFacilitiesDistance3 is not empty %}
                                    <div class="property-public-facility-wrapper">
                                        <div class="property-public-facility">
                                            <div class="property-public-facility-title">
                                                <span>{% if app.request.locale == 'ru'%}
                                                        {{ post.publicFacilitiesDescription3Ru }}
                                                    {% elseif app.request.locale == 'pl' %}
                                                        {{ post.publicFacilitiesDescription3Pl }}
                                                    {% elseif app.request.locale == 'fr' %}
                                                        {{ post.publicFacilitiesDescription3Fr }}
                                                    {% else %}
                                                        {{ post.publicFacilitiesDescription3En }}
                                                    {% endif %}</span>
                                            </div>
                                            <div class="property-public-facility-info">
                                                {{ post.publicFacilitiesDistance3 }}
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                                {% if post.publicFacilitiesDistance4 is defined and post.publicFacilitiesDistance4 is not empty %}
                                    <div class="property-public-facility-wrapper">
                                        <div class="property-public-facility">
                                            <div class="property-public-facility-title">
                                                <span>{% if app.request.locale == 'ru'%}
                                                        {{ post.publicFacilitiesDescription4Ru }}
                                                    {% elseif app.request.locale == 'pl' %}
                                                        {{ post.publicFacilitiesDescription4Pl }}
                                                    {% elseif app.request.locale == 'fr' %}
                                                        {{ post.publicFacilitiesDescription4Fr }}
                                                    {% else %}
                                                        {{ post.publicFacilitiesDescription4En }}
                                                    {% endif %}</span>
                                            </div>
                                            <div class="property-public-facility-info">
                                                {{ post.publicFacilitiesDistance4 }}
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                                {% if post.publicFacilitiesDistance5 is defined and post.publicFacilitiesDistance5 is not empty %}
                                    <div class="property-public-facility-wrapper">
                                        <div class="property-public-facility">
                                            <div class="property-public-facility-title">
                                                <span>{% if app.request.locale == 'ru'%}
                                                        {{ post.publicFacilitiesDescription5Ru }}
                                                    {% elseif app.request.locale == 'pl' %}
                                                        {{ post.publicFacilitiesDescription5Pl }}
                                                    {% elseif app.request.locale == 'fr' %}
                                                        {{ post.publicFacilitiesDescription5Fr }}
                                                    {% else %}
                                                        {{ post.publicFacilitiesDescription5En }}
                                                    {% endif %}</span>
                                            </div>
                                            <div class="property-public-facility-info">
                                                {{ post.publicFacilitiesDistance5 }}
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                                {% if post.publicFacilitiesDistance6 is defined and post.publicFacilitiesDistance6 is not empty %}
                                    <div class="property-public-facility-wrapper">
                                        <div class="property-public-facility">
                                            <div class="property-public-facility-title">
                                                <span>{% if app.request.locale == 'ru'%}
                                                        {{ post.publicFacilitiesDescription6Ru }}
                                                    {% elseif app.request.locale == 'pl' %}
                                                        {{ post.publicFacilitiesDescription6Pl }}
                                                    {% elseif app.request.locale == 'fr' %}
                                                        {{ post.publicFacilitiesDescription6Fr }}
                                                    {% else %}
                                                        {{ post.publicFacilitiesDescription6En }}
                                                    {% endif %}</span>
                                            </div>
                                            <div class="property-public-facility-info">
                                                {{ post.publicFacilitiesDistance6 }}
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>

                        <!-- MAP -->
<!--
                        <div class="similar-properties">
                            <div class="property-map-position">
                                <h2>Location</h2>
                                <div class="map" id="simple-map" style="height: 300px"
                                     data-latitude="51.5017305"
                                     data-longitude="-0.15872239999998783"
                                     data-transparent-marker-image="http://www.ongoingthemes.com/homelist/wp-content/plugins/realia/assets/img/transparent-marker-image.png"
                                     data-zoom="15">
                                </div>
                            </div>
                        </div>
-->
                        <!-- SIMILAR PROPERTIES -->

                        <div class="similar-properties">
                            <h2>{% trans %}Similar properties{% endtrans %}</h2>
                            <div class="type-box item-per-row-3">
                                <div class="row">
                                    {% for post in postsSimilar %}
                                        <div class="col-md-4 col-sm-6 col-xs-12">
                                            <div class="property-container">
                                                <div class="property-image" style="width: 263px; height: 175px">
                                                    <img width="640" height="425" src="/images/{{ post.imageAvatar.filename }}" class="property-box-thumbnail wp-post-image" alt="" />
                                                    <a href="{{ path('get_post_details', {id: post.id}) }}" class="property-box-image-inner "></a>
                                                </div>
                                                <div class="property-content">
                                                    <h3>
                                                        <a href="{{ path('get_post_details', {id: post.id}) }}">
                                                            {% if app.request.locale == 'ru'%}
                                                                {{ post.titleRu }}
                                                            {% elseif app.request.locale == 'pl' %}
                                                                {{ post.titlePl }}
                                                            {% elseif app.request.locale == 'fr' %}
                                                                {{ post.titleFr }}
                                                            {% else %}
                                                                {{ post.titleEn }}
                                                            {% endif %}
                                                        </a>
                                                        <small><i class="fa fa-map-marker"></i> {{ post.location }}</small>
                                                    </h3>
                                                    <p class="text-cut">
                                                        {% if app.request.locale == 'ru'%}
                                                            {{ post.propertyDescriptionRu }}
                                                        {% elseif app.request.locale == 'pl' %}
                                                            {{ post.propertyDescriptionPl }}
                                                        {% elseif app.request.locale == 'fr' %}
                                                            {{ post.propertyDescriptionFr }}
                                                        {% else %}
                                                            {{ post.propertyDescriptionEn }}
                                                        {% endif %}
                                                    </p>
                                                </div>
                                                <div class="property-attributes">
                                                    <div class="col-xs-4" style="width: 200px; padding-left: 25px; float: left">
                                                        <h4>
                                                            {% if post.price is not empty %}
                                                                <p title="Price"><i class="fa fa-cc-visa"></i> {{ post.price }} $</p>
                                                            {% endif %}
                                                        </h4>
                                                    </div>
                                                </div>
                                                <div class="property-buttons">
                                                    <a href="{{ path('get_post_details', {id: post.id}) }}" class="property-btn">{% trans %}Browse{% endtrans %}</a>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>

{% endblock %}