{% extends 'base.html.twig' %}

{% block body %}
<body id="top" class="archive tax-locations term-france term-37">

<div class="page-wrapper">

    <div class="header" style="padding-top: 35px">
		<nav class="navbar navbar-default">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-top">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
                    <a class="navbar-brand" href="http://www.ongoingthemes.com/homelist/">
                        <img src="http://www.ongoingthemes.com/homelist/wp-content/uploads/2018/04/Logo24.png" height="80" alt="Home">
                    </a>
				</div>
                <div class="collapse navbar-collapse" id="navbar-top">
                    <div id="navbar-top-2" class="menu-primary-container">
                        <ul id="primary-menu" class="nav navbar-nav navbar-right">
                            <li id="menu-item-800" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-800">
                                <a title="Home" href="{{ path('index') }}">Home </a>
                            </li>
                        </ul>
                    </div>
                </div>
			</div>
		</nav>
	</div>

    <!-- HEADER -->
    <div id="header" class="heading" style="background-image: url(http://www.ongoingthemes.com/homelist/wp-content/uploads/2017/07/slide1.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 col-sm-12">
                    <div class="page-title">
                        {% if location is defined and location is not empty %}
                            <h2>Location: {{ location }}</h2>
                        {% else %}
                            <h2>Location: All</h2>
                        {% endif %}
                    </div>
                    <ol class="breadcrumb">
                        <li>
                            <a href="{{ path('index') }}">Home</a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <!-- MAIN CONTENT -->
	<div  id="content"  class="main">
        <div class="container ">
            <section id="primary" class="content-area">
                <main id="main" class="site-main content" role="main">
                    <div class="property-box-archive type-box item-per-row-3">
                        <div class="row">
                            {% for post in posts %}
                                <div class="col-md-3 col-sm-6 col-xs-12">
                                    <div class="property-container">
                                        <div class="property-image ">
                                            <img width="640" height="425" src="/images/{{ post.imageAvatar.filename }}" class="property-box-thumbnail wp-post-image" alt="" />
                                            <a href="{{ path('get_post_details') }}" class="property-box-image-inner "></a>
                                        </div>
                                        <div class="property-content">
                                                <h3>
                                                    <a href="{{ path('get_post_details') }}">{{ post.titleEn }}</a>
                                                    <small><i class="fa fa-map-marker"></i> {{ post.location }}</small>
                                                </h3>
                                                <p style="overflow: hidden; text-overflow: ellipsis">{{ post.propertyDescriptionEn }}</p>
                                            </div>
                                            <div class="property-attributes text-center">
                                                <div class="col-xs-5">
                                                    <h3>
                                                        <small><i class="fa fa-money"></i> {{ post.price }} $</small>
                                                    </h3>
                                                </div>
                                            </div>
                                        <div class="property-buttons">
                                            <a href="{{ path('get_post_details') }}" class="property-btn">Browse</a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </main>
            </section>
        </div>
	</div>
</div>
</body>
{% endblock %}
